* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f8f8f8;
  font-size: 1em;
  color: #000000;
}

.post {
  padding: 1px 1px 40px 1px;
  background-color: #ffffff;
  margin-bottom: 25px;

}

.post p {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

#content{
float:left;
width: 55%;
margin: 20px;
}


#commentdiv h1{
  padding-left: 10px;
  margin-top: 30px;
font-size:40px;
	 color:#212121;
	 
}
#commentdiv{
	margin-bottom:30px;
}
#share img{
  width: 50px;
  padding: 5px;
  display: inline;
}

#share a{
	text-decoration:none;
}
.post h1{
  padding-left: 10px;
  margin-top: 30px;
font-size:40px;
	 color:#212121;
}
.post p{
  padding-left: 10px;
}

#search{
  float: left;
  width: 15%;
  margin-top: 20px;
  margin-bottom: 25px;
}

#sidecolumn{
	width:15%;
	z-index:1; 
	position:absolute;
	margin-top:20px; 
	margin-left:10%;"
}

#user-comments{
	margin-top:20px;
	height:auto;
	float:left;
	padding-left:50px;
	margin-bottom:75px;
}

#user-comments h5{
	color:#a00;
	font-size:25px;
	text-decoration:underline;
}
#user-comments p{
	font-size:20px;
	margin-top:5px;
	margin-bottom:20px;
}

#archives{
	
  margin-top: 20px;
	background-color:#ffb74d;
	margin-left: 45%;
	width:20%;
	padding:10px;
	position:fixed;
}

#archives a:hover{
	text-decoration:underline;
}
#comment{
	margin-top:10px;
	height:25px;
}
li{
  list-style-type: none;
}
firstchild{
	margin-top:10px;
}
li a{
  color: black;
  text-decoration: none;
}

.drop ul{
    display: none;
}
.drop:hover ul {
    display:block;
}

.drop ul li a{
    color: red;
}
